<!-- Sticky Footer -->
  <footer class="footer"> 
    <div class="text-muted small">
      <ul class = "footnav"> 
        <li class="first-li"> © BikeFinder, Inc.</li>
        <li><a href = "terms.html" > Terms & Privacy </a></li>
        <li><a href= "http://www.facebook.com">Facebook</a></li>
        <li><a href= "http://www.twitter.com">Twitter</a></li>
        <li class ="last-li"><a href= "http://instagram.com">Instagram</a></li>
      </ul>
    </div>
  </footer>
<!-- End of Sticky Footer -->


</body>
</html>
