<% include ./partials/topnav.ejs%>

<div class="container-fluid imageOne ">
  <row>
    <div>
      <h2>
       <a href = "/" <span class = "logofont margin-left">BikeFinder </span> </a>
      </h2>
    </div>
  </row>
<div>
  <row>
<!-- Headline Box with Value Prop and Invitation -->
    <div id="startsearch" class="center">
      <h1>Searching for a bike rental for your next trip or vacation?</h1>
      <h2>Let <span class = "logofont">BikeFinder </span> help you.</h2>
      <h4>Start by entering your pick up location.</h4>
        <div class="locationBox">
            <input id="autocomplete" placeholder="Enter a city" type="text"/>
        </div>
        <br>
        - or - 
        <br>
        <a href = "/search_results" class="margin-top btn btn-primary">Search Your Current Location </a>
    </div>

  </row>
<!-- Map Box -->
  <row class="center">
    <div id="map">
    </div>
  </row>
<!--   End of Map Box -->
<!-- Result Boxes    -->   
<row>
    <div id="results_div" class="col-l-10 col-l-offset-1 center">
    <br>
   
      <h4> Check the shops you’d like <span class = "logofont">BikeFinder </span>
       to contact on your behalf. 
       </h4> 
            <form id="iDs" method="post">

             <input id = "fButton" class= "margin-top btn btn-primary" type="button" onClick="collectIds()" value="Submit form">
          <div id="results" class="margin-center">
       
          </div>

       
               </form>
    </div>
</row>
<!-- End of Result Boxes -->

<!-- Info Window Boxes -->
    <div style="display: none">
      <div id="info-content">
        <table>
          <tr id="iw-url-row" class="iw_table_row">
            <td id="iw-icon" class="iw_table_icon"></td>
            <td id="iw-url"></td>
          </tr>
          <tr id="iw-address-row" class="iw_table_row">
            <td class="iw_attribute_name">Address:</td>
            <td id="iw-address"></td>
          </tr>
          <tr id="iw-phone-row" class="iw_table_row">
            <td class="iw_attribute_name">Telephone:</td>
            <td id="iw-phone"></td>
          </tr>
          <tr id="iw-website-row" class="iw_table_row">
            <td class="iw_attribute_name">Website:</td>
            <td id="iw-website"></td>
          </tr>
        </table>
      </div>
    </div>
<!-- End ofInfo Window Boxes -->

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB47TKXs1AAflxa1PA-WNj6UZ2Ylfd48DE&libraries=places&callback=initMap" async defer></script>
 <script type="text/javascript" src="./js/app2.js"></script> 
<% include ./partials/footer.ejs%>
