<!DOCTYPE html>
<html>
<head>
	<title>G's WDI Project 2</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./css/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Righteous|Varela" rel="stylesheet">

</head>
<body>

<!-- Top Navigation Bar  -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      	<ul class="nav navbar-nav">
      	<li class="active"><a class = "visible-phone" href="index.ejs">Gisella's Project 2: BikeFinder</a></li>
        <li><a href="https://trello.com/b/oAq48IA0/wdi-project-2-bikefinder">Trello User Stories & Sprints</a></li>
        <li><a href="orginal_wireframes.ejs">Original Wireframes</a></li> 
        <li><a href="readMe.md">ReadMe</a></li> 
      </ul>
 
    </div>
  </div>
</nav>
<!-- End of Top Navigation Bar  -->

	<div class="container-fluid">

		<row> <h2><span class = "logofont margin-left">BikeFinder </span></h2>
		</row>

		<row>
			<!-- Headline Box with Value Prop and Invitation -->
			<div class="col-md-4 col-md-offset-4 center">
				<h1>Searching for a bike rental for your next trip or vacation?</h1>
				<h2>Let <span class = "logofont">BikeFinder </span> help you.</h2>
				<h4>Start by entering your pick up location.</h4>
			
			<!-- Location Query -->

						<!-- 	<form id='location-form' method="post" action="/app.js"> 
							<fieldset> -->
								<div class="form-group">
							    <input id="search" name="location" class="form-control input-md" placeholder="What City & State?">
							  	</div>
							
								 <button id="button" type = "button" class="btn btn-primary">Submit</button>
								 <div id="results"></div>
						
						<!-- 	</fieldset>
							</form> -->
			<!-- End of Location Query -->
			</div>
		</row>

		<row
 	<!-- Sticky Footer -->
 	<footer class="footer"> 
 		<div class="text-muted small">
	 		<ul class = "footnav"> 
				<li class="first-li"> © BikeFinder, Inc.</li>
				<li><a href = "terms.html" > Terms & Privacy </a></li>
				<li>Facebook</li>
				<li>Twitter</li>
				<li class ="last-li">Instagram</li>
			</ul>
		</div>
	</footer>
</row>			
</div> <!-- Fluid Container -->



	<!-- jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<script type="text/javascript" src="./js/daterangepicker.js"></script>
	<script type="text/javascript" src="./js/app.js"></script>
</body>
</html>