<% include ./partials/topnav.ejs%>
<div class="col-md-6 col-md-offset-3">
<h2>Project-2</h2>
<h3>BikeFinder</h3>
<p>The goal for this app was to create a website that would allow a cyclist to search for a bike shop (or bike rental location) in his/her current location or at a particular location, view results on a map, then finally inquire from multiple shops within two to three clicks.
</p><p>
The app was built using JavaScript with Node.js on the server side, Express as the framework and Mongoose on a Mongo Database.
</p><p>
Google Maps and Places API's were employed strictly on the frontend. EJS templates were used for the content pages, and Bootstrap served as the front-end framework. The inquiry and user database were integrated with Mailchimp ab email service provider, to manage outgoing queries and user follow-up messaging.
</p><p>
This final integration successfully closed the user experience loop by completing a basic end to end lead generation platform.
</p>
<p>
Additional improvements and possible features to add include:
<ul>
<li> Passport Password Management.</li>
<li>Improving the UI and Branding/Voice</li>
<li>Improving the shop information provided with other details such as phone number, customer reviews, and photographs. That would involve further technical integration with Google places and a premium API service level ($).</li>
<li>Social Media Integration, (I would need to create profiles first) which would allow me to leverage social sharing capabilities.</li>
<li> A front-end Admin Screen to manage/edit/delete users. </li>
<ul>
</div>
<% include ./partials/footer.ejs%>
