
<% include ./partials/topnav.ejs%>
<div class="container-fluid">
<div class="col-md-8 col-md-offset-2 center">
<br>
<h2>Thank you for letting <span class = "logofont">BikeFinder </span> help you plan your trip!</h2>

<h3>Your inquiry has been sent successfully.</h3>

<p>Remember to check your inbox for future responses. In the meantime tell your friends about BikeFinder.

</p>
<br>
<a href= "http://facebook.com"><img src="./images/facebook-share-button.png" ></a>

</div>
</div>
<% include ./partials/footer.ejs%>
